@model IEnumerable<Valsa.Models.Loan>

@{
    ViewData["Title"] = "EmployeeLoanList";
     Layout = "_AdminLayoutPage";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.css" />
    <style>

        .gradient-custom {
            background: #BBD2C5; /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #292E49, #536976, #BBD2C5); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }

        .card-registration .select-arrow {
            top: 13px;
        }
    </style>
</head>
<body class="gradient-custom">
    <h1 class="display-4 pt-3" style="text-align: center; font-weight: 600;color:white ">Loan Applications</h1><br />
    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
        <div class="card-body p-4">
            <table class="table" style="font-size:small">
                <thead>
                    <tr>
                        <th>
                            Loan Id
                        </th>
                        <th>
                            Account No.
                        </th>
                        <th>
                            Mobile No.
                        </th>
                        <th>
                            Loan Amount
                        </th>
                        <th>
                            Employment Type
                        </th>
                        <th>
                            Monthly Income
                        </th>
                        <th>
                            Company Name
                        </th>
                        <th>
                            Loan Purpose
                        </th>
                        <th>
                            Submitted on
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.loan_id)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.account_number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.mobile_number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.income)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.orgName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.purpose)
                        </td>
                        <td>
                            @item.date_time.ToShortDateString()
                        </td>
                        <td>
                            |
                            <a asp-action="CloseLoan" asp-route-id="@item.loan_id">Close</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
